<%= form_for @user do |f| %>
  <p>
    <%= f.label :full_name %>
    <%= f.text_field :full_name %>
    <% if @user.errors.has_key? :full_name %>
      <span class="error_message">
        <%= @user.errors[:full_name].first %>
      </span>
    <% end %>
  </p>
  <p>
    <%= f.label :location %>
    <%= f.text_field :location %>
    <% if @user.errors.has_key? :location %>
      <span class="error_message">
        <%= @user.errors[:location].first %>
      </span>
    <% end %>
  </p>
  <p>
    <%= f.label :email %>
    <%= f.text_field :email %>
    <% if @user.errors.has_key? :email %>
      <span class="error_message">
        <%= @user.errors[:email].first %>
      </span>
    <% end %>
  </p>
  <p>
    <%= f.label :password %>
    <%= f.password_field :password %>
    <% if @user.errors.has_key? :password %>
      <span class="error_message">
        <%= @user.errors[:password].first %>
      </span>
    <% end %>
  </p>
  <p>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
    <% if @user.errors.has_key? :password_confirmation %>
      <span class="error_message">
        <%= @user.errors[:password_confirmation].first %>
      </span>
    <% end %>
  </p>
  <p>
    <%= f.label :bio %>
    <%= f.text_area :bio %>
    <% if @user.errors.has_key? :bio %>
      <span class="error_message">
        <%= @user.errors[:bio].first %>
      </span>
    <% end %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
